@import helpers/all
@import generated/sprite-svg
@import common
@import layouts
@import main

// Black: rgb(26, 26, 26)
// Green: 

body
	font-family:  'Open Sans', sans
.container
	max-width: 1180px
	margin: 0 auto
	+r(1200) 
		margin: 0 20px
	
.hero
	min-height: 100vh
	width: 100%
	+r(750) 
		height: 100%
		padding-bottom: 50px
.header
	padding-top: 5px
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: baseline
	+r(550) 
		flex-direction: column
		
	
.logo
	+r(550)
		margin: 0 auto
		margin-top: 20px
		
	img
		height: 32px
		+r(550) 
			margin-bottom: 20px
			
		
nav	
	+r(550) 
		margin: 0 auto
	
	ul
		position: relative
		top: -3px
		li
			display: inline-block
			+r(550) 
				display: block
				// &:first-of-type
				// 	margin-left: -30px
				text-align: center
				
				padding-bottom: 15px
			
			a
				font-size: 1rem
				color: #d1d2d2
				text-decoration: none
				// margin-left: 30px
				padding: 15px
				position: relative
				&:before 
					position: absolute
					left: 15px
					top: 15px
					content: attr(data-content)
					display: inline-block
					color: #fff
					width: 100%
					clip: rect(0,0,0,0)
					transition: clip cubic-bezier(0.25, 0.46, 0.45, 0.94) 900ms
					+r(550) 
						left: 0
						padding-left: 0
								
				&:hover 
					&:before 
						clip: rect(0,100px,100px,0)
					

.main
	margin-top: 120px 
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-around
	+r(901) 
		margin-top: 50px

	
	&__title
		text-align: center
		color: #FFF
		font-size: 53px
		font-weight: 300
		line-height: 1.2
		margin-bottom: 42px
	&__subtitle
		font-size: 18px 
		text-align: center	
		color: #FFF 
		font-weight: 300
		margin-bottom: 25px
.btn
	position: relative
	// left: 50%
	// transform: translate(-50%, 0)
	
	display: inline-block
	color: #FFF 
	margin: 0 auto
	margin-bottom: 30px
	font-size: 16px
	text-decoration: none
	line-height: 55px
	padding: 0 30px
	border-radius: 30px
	background: rgb(52, 196, 130)
		 
//////////////////////////////////////////////

// FEATURES

//////////////////////////////////////////////
.features
	border-top: 8px solid rgb(52, 196, 130) 
	padding-top: 75px
	margin-bottom: 80px
	.container
		display: flex
		flex-direction: row
		justify-content: space-between
		// width: 110px 
		+r(800) 
			flex-direction: column
		
.feature
	display: flex
	flex-direction: column
	align-items: center
	text-align: center
	margin-left: 30px
	&:first-of-type
		margin-left: 0
	+r(800) 
		margin-left: 0
	
	img
		margin: 0 auto
		margin-bottom: 11px 
	&__title
		font-weight: 400 
		font-size: 20px
		margin-bottom: 22px
	&__text
		font-size: 15px
		line-height: 1.5

		// kusok iz charts
		text-align: center
		font-size:  1.5rem
		background: rgba(255, 255, 255, .38) 
		font-family: 'Open Sans', sans-serif
		color: #000 
		margin: 0 auto
		padding: 5px 15px
		box-shadow: 0 0 5px #000
		z-index: 1
		+r(800) 
			margin-bottom: 50px
		 

